{% extends 'frontend/base.html' %}

{% block content %}
  <h3>Conductores</h3>
  {% load role_tags %}
  {% if user.is_staff or user|has_group:'Administrador' %}
    <p><a href="/conductores/new/" class="btn btn-success">Nuevo Conductor</a></p>
  {% endif %}
  <table class="table">
    <thead><tr><th>Nombre</th><th>RUT</th><th>Teléfono</th></tr></thead>
    <tbody>
      {% for c in object_list %}
        <tr><td>{{ c.nombre }}</td><td>{{ c.rut }}</td><td>{{ c.telefono }}</td></tr>
      {% empty %}
        <tr><td colspan="3">Sin conductores</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
